@import "tailwindcss";


.scrollbar-none{
  scrollbar-width: none;
}

.grid-layout {
  /* display: grid; */
  /* grid-template-columns: 250px 1fr 300px; */
  /* grid-template-rows: 1fr 100px; */
  grid-template-areas:
    "sidebar codepart leftchat"
    "promptinput promptinput promptinput";
}

/* .promptinput {
  grid-area: promptinput;
}
.sidebar {
  grid-area: sidebar;
}
.codepart {
  grid-area: codepart;
}
.leftchat {
  grid-area: leftchat;
} */

/* globals.css */

.my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}
